/*--------------------------------------------------------------
  8. Footer
----------------------------------------------------------------*/
.cs_footer {
  padding-top: 1px;
  margin-top: 25px;
  color: #FFFFFF;

  .cs_social_btns.cs_style_1 {
    margin-top: 50px;

    a {
      height: 40px;
      width: 40px;
      background-color: #ffffff;
      box-shadow: 0px 0px 57px rgba(0, 0, 0, 0.05);
      font-size: 16px;
      color: #FFFFFF;

      &:hover {
        background-color: #4DB6E8;
      }
    }
  }
  
  a {
    color: #FFFFFF;
    
    &:hover {
      color: #4DB6E8;
    }
  }
}

.cs_footer_highlight_col {
  padding: 60px 35px;
  margin-top: -26px;
  border-radius: 5px 5px 0 0;
  border: 3px solid rgb(251, 250, 250);
  background-color: #CC2627;
  @media (max-width: 1199px) {
    padding: 50px 15px;
  }
}

.cs_footer_logo {
  padding-bottom: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid #fff;
}

.cs_footer_contact {
  li {
    position: relative;
    padding-left: 25px;
    color: #FFFFFF;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    i {
      position: absolute;
      left: 0;
      top: 5px;
      width: 16px;
      text-align: center;
      color: #f9f9f9;
    }
    
    span {
      color: #FFFFFF;
    }
  }
}

.cs_footer_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 25px;
  
  @media (max-width: 767px) {
    display: none !important;
  }
  
  li {
    a {
      color: #FFFFFF;
      transition: color 0.3s ease;
      
      &:hover {
        color: #4DB6E8;
      }
    }
  }
}

.cs_footer_bottom {
  background-color: #031322;
  color: #FFFFFF;
  
  a {
    color: #FFFFFF;
    transition: color 0.3s ease;
    
    &:hover {
      color: #4DB6E8;
    }
  }
}

.cs_footer_bottom_in {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .cs_footer_copyright {
    color: #FFFFFF;
    
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
  }
}

.cs_footer_widget_title {
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.cs_footer_widget_nav_list {
  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    
    a {
      color: #FFFFFF;
      transition: color 0.3s ease;
      
      &:hover {
        color: #4DB6E8;
      }
    }
  }
}

.cs_footer_widget {
  padding: 95px 0;
  @media (max-width: 1199px) {
    padding: 70px 0;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}

.cs_footer_row {
  display: flex;
  gap: 80px;
  @media (max-width: 1400px) {
    gap: 40px;
  }
  @media (max-width: 1199px) {
    gap: 40px 25px;
  }
  @media (max-width: 991px) {
    flex-wrap: wrap;
    gap: 0px 0px;
  }
  @media (max-width: 767px) {
    gap: 30px 20px;
    padding-bottom: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cs_footer_col {
    flex: 1;
    @media (max-width: 991px) {
      flex: none !important;
      width: 30%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }

    &:first-child {
      flex: 1.6;
      @media (max-width: 991px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        width: 100% !important;
        margin-bottom: 0;
      }
    }

    /* Hide Recent Posts on mobile */
    &:last-child {
      flex: 1.4;
      @media (max-width: 991px) {
        width: 40%;
      }
      @media (max-width: 767px) {
        display: none !important;
        width: 0 !important;
      }
    }
    
    /* Make Fertility Treatment and Quick Links side by side on mobile */
    @media (max-width: 767px) {
      &:nth-child(2),
      &:nth-child(3) {
        width: calc(50% - 10px) !important;
        flex: 0 0 calc(50% - 10px) !important;
        max-width: calc(50% - 10px);
      }
    }
  }
}

.cs_recent_post {
  display: flex;
  align-items: center;
  gap: 15px;

  .cs_recent_post_thumb {
    flex: none;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_recent_post_title {
    font-size: 17px;
    color: #FFFFFF;
    margin: 0;
    font-weight: 600;
    line-height: 1.4em;
    
    a {
      color: #FFFFFF;
      transition: color 0.3s ease;
      
      &:hover {
        color: #4DB6E8;
      }
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.65);
  }
}

.cs_recent_post_list {
  li {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.cs_service_footer {
  max-width: 460px;
  margin: 50px auto 0;
  display: flex;
  gap: 10px;

  .cs_service_footer_icon {
    width: 24px;
    height: 24px;
    flex: none;
  }

  .cs_service_footer_text {
    font-size: 18px;
    color: var(--heading-color);
    text-align: center;

    @media (max-width: 767px) {
      text-align: left;
      br {
        display: none;
      }
    }
  }

  a {
    color: var(--accent-color);
    display: inline-block;
  }

  a {
    margin-left: 7px;
    line-height: 28px;

    span {
      display: inline-block;
      margin-left: 5px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
