/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --heading-color: #222;
  --body-color: #636363;
  --accent-color: #f24646;
  --blue-color: #CD2527;
  --gray-color: #e8edf0;
  --border-color: #dddddd;
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Rubik', sans-serif;
}
