/*--------------------------------------------------------------
  17. Counter
----------------------------------------------------------------*/
.odometer-inside {
  display: flex;
}

.cs_counter_area {
  position: relative;
  z-index: 1;
  background-color: #f5f5f5;

  &::after {
    content: '';
    width: 100%;
    height: 50%;
    background-color: #f5f5f5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  
  .container {
    position: relative;
    z-index: 2;
  }
}

.cs_counter_simple_line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  padding: 0px 0px 0px;
  text-align: center;
  font-size: 18px;
  position: relative;
  z-index: 10;
  // min-height: 90px;
  width: 100%;
  background-color: #f5f5f5;
  margin-top: -40px;
  border-radius: 10px;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  
  @media (max-width: 991px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px 20px 20px;
    margin-top: -30px;
  }
  
  @media (max-width: 575px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 25px 15px 15px;
  }
  
  .cs_counter_item {
    display: flex;
    align-items: center;
    gap: 0;
    
    @media (max-width: 991px) {
      justify-content: center;
      flex-direction: column;
    }
  }
  
  .cs_counter_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
  }
  
  .cs_counter_number {
    font-size: 42px;
    font-weight: 700;
    color: #f26565;
    font-family: var(--heading-font);
    line-height: 1.2;
    
    @media (max-width: 991px) {
      font-size: 32px;
    }
    
    @media (max-width: 575px) {
      font-size: 28px;
    }
  }
  
  .cs_counter_text {
    font-size: 22px;
    font-weight: 400;
    color: #555;
    line-height: 1.3;
    white-space: normal;
    
    @media (max-width: 991px) {
      font-size: 18px;
    }
    
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }
  
  .cs_counter_separator {
    margin: 0 40px;
    color: #d0d0d0;
    font-weight: 300;
    font-size: 24px;
    align-self: stretch;
    display: flex;
    align-items: center;
    
    @media (max-width: 991px) {
      display: none;
    }
  }
}

.cs_counter_content {
  position: relative;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;

  .cs_counter_shape {
    width: 100%;
    left: 0;
    top: -20px;

    img {
      display: inline-block;
      width: 100%;
    }
  }
}

.cs_counter_1_wrap {
  display: flex;
  justify-content: center;
  row-gap: 40px;
  position: relative;
  z-index: 1;
  padding: 45px 0;

  .cs_counter.cs_style_1 {
    position: relative;
    z-index: 2;
    width: 25%;
    padding: 0 45px;
    text-align: center;

    .cs_counter_icon {
      width: 74px;
      height: 74px;
      background-color: var(--white);
      border-radius: 50%;
      margin-bottom: 16px;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.4s ease;

      img {
        transition: all 0.4s ease;
      }
    }

    .cs_counter_nmber {
      font-size: 40px;
      font-weight: 700;
      color: var(--white);
      line-height: 1.2em;
      margin-bottom: -2px;
      font-family: var(--heading-font);
    }

    .cs_counter_title {
      font-size: 22px;
      font-weight: 500;
      color: var(--white);
    }

    @media (min-width: 575px) {
      padding: 0 20px;
    }

    @media (min-width: 575px) {
      &:not(:nth-child(4n + 0)) {
        &::before {
          content: '';
          height: 57%;
          width: 1px;
          background-color: var(--border-color);
          opacity: 0.3;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
        }
      }
    }

    &:last-child {
      &::before {
        display: none;
      }
    }

    &:hover {
      .cs_counter_icon {
        background-color: var(--accent-color);

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  @media (max-width: 1199px) {
    flex-wrap: wrap;

    .cs_counter.cs_style_1 {
      width: calc(50% - 25px);

      &:nth-child(2) {
        &::before {
          display: none;
        }
      }
    }
  }

  @media (max-width: 575px) {
    flex-direction: column;

    .cs_counter.cs_style_1 {
      width: 100%;
      margin: auto;
    }
  }
}

.cs_counter.cs_style_1 {
  gap: 17px;

  @media (max-width: 575px) {
    .cs_counter_nmber {
      min-width: 70px;
    }
  }
}

.cs_counter_2_wrap {
  display: grid;
  grid-template-columns: (repeat(4, 1fr));

  @media (max-width: 1199px) {
    grid-template-columns: (repeat(2, 1fr));
    gap: 30px;
  }

  @media (max-width: 575px) {
    grid-template-columns: (repeat(1, 1fr));
  }

  .cs_counter.cs_style_2 {
    position: relative;
    width: 100%;
    padding: 48px 15px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    overflow: hidden;

    @media (min-width: 1200px) {
      &:nth-child(1) {
        border-right: 0;
        border-radius: 10px 0 0 10px;
      }

      &:nth-child(4) {
        border-radius: 0 10px 10px 0;
      }

      &:nth-child(3) {
        border-right: 0;
        border-left: 0;
      }
    }

    @media (max-width: 1199px) {
      border-radius: 10px;
    }

    &::after,
    &::before {
      content: '';
      width: 100%;
      height: 3px;
      background-color: transparent;
      position: absolute;
      left: 0;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      top: 0px;
    }

    &::before {
      bottom: 0px;
    }

    .cs_counter_icon {
      width: 74px;
      height: 74px;
      background-color: var(--blue-color);
      border-radius: 50%;
      margin-bottom: 16px;
      transition: all 0.4s ease;

      img {
        filter: brightness(0) invert(1);
      }
    }

    .cs_counter_nmber {
      font-size: 40px;
      font-weight: 700;
      color: var(--heading-color);
      line-height: 1.2em;
      margin-bottom: -2px;
    }

    .cs_counter_title {
      font-size: 22px;
      font-weight: 500;
      color: var(--heading-color);
    }

    &:hover {
      .cs_counter_icon {
        background-color: var(--accent-color);
      }

      &::after,
      &::before {
        background-color: var(--accent-color);
      }
    }
  }
}